@charset "utf-8";
body h1 {
	color: #FF6E00;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 35pt;
}
.key {
	color: #F1D393;
	background-color: #2900FC;
	font-size: 16pt;
	font-family: Osaka-mono, "MS Gothic", monospace;
	font-style: italic;
}
body p img {
}
body {
	background-image: url(133725976481847308.jpg);
	background-size: auto auto;
}

body p img {
}


body p img {
	border: 10pt dotted #00B3FF;
}


body h1 {
}
body h1 {
}
body {
}
body p img {
}
body p {
}
